header{
    
    height: 180px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}


.container{
    min-height: 80vh;
    text-align: left;
}

.row{
    margin-bottom: 20px;
    
}

.col-6{
    height: 150px;
    background-color: aqua;
}

.col{
    
    height: 150px;
}

.p-3{
    height: 5vh;
    background-color: blue;
}

